<%- include("partials/header.ejs") %>
<a class="btn btn-warning" href="/signup">Sign Up</a>
<a class="btn btn-warning" href="/login">Login</a>
<!-- <tr>
    <%# data.forEach(entry => { %>
      <td><%# entry.id %></td>
      <td><%# entry.username %></td>
      <td><%# entry.fullname %></td>
      <td><%# entry.country %></td>
      <br>
  </tr>
  <%# }) %> -->
<%- include("partials/footer.ejs") %>